<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Album</title>
</head>
<body>
    
    <h1>Album a editar</h1>
    <br>
    <br>

    <form action="/actualizar/{{fruta.0}}" method="POST">
        <label>Fruta:</label>
        <input type="text" name="txtFruta" value="{{fruta.1}}" required>
        <label>Temporada:</label>
        <input type="date" name="txtTemporada" value="{{fruta.2}}" required>
        <label>Precio:</label>
        <input type="number" name="txtAnio" value="{{fruta.3}}" step=0.01 required>
        <label>Stock:</label>
        <input type="number" name="txtAnio" value="{{fruta.3}}" required>
        <button type="submit">Actualizar</button>
    </form>


</body>
</html>