<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Albums</title>
</head>
<body>
    
    <h2>Gestión de Albums</h2>
    <form action="/guardar" method="POST">
        <label>Titulo:</label>
        <input type="text" name="txtTitulo" placeholder="Escribe un Titulo">
        <label>Artista:</label>
        <input type="text" name="txtArtista" placeholder="Escribe un Artista">
        <label>Año:</label>
        <input type="number" name="txtAnio" placeholder="Escribe un Año"></input>
        <button type="submit">Guardar</button>
    </form>
    

</body>
</html>